# Node modules
node_modules/

# Build directory
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
.pnp
.pnp.js

# Typescript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# MacOS files
.DS_Store

.vscode/